<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="buttons">
		<% if current_user %>
			<button><%= link_to "Create a New Entry", new_entry_path %></button>
			<button><%= link_to "Logout!", '/logout' %></button>
		<% else %>
			<button><%= link_to "Sign in!", '/login'%></button>
			<button><%= link_to "Sign up!", '/users/new' %></button>
		<% end %>
	</div>

	<div class="container">
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
